body {
    background-color: rgb(243, 159, 215);
    font-family: 'Dancing Script', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    margin-top: 2rem;
    color: black;
}

p {
    font-size: 1.8rem; /* Diminui o tamanho da fonte do texto "Sou a Rafaela" */
    padding: 0 1.5rem;
    text-align: justify;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 2rem auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    margin-top: 1rem; 
}

ul li {
    margin-bottom: 1rem;
}

h2 {
    text-align: center; /* Centraliza o título "Coisas que eu gosto" */
    font-size: 2rem;
    margin-top: 2rem;
}

img {
    border-radius: 15px;
    margin-top: 10px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 2rem auto;
}

td {
    text-align: center;
    padding: 1rem;
}

a {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.7rem 1.5rem;
    background-color: #171a21;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.5rem;
}

a:hover {
    background-color: #2a2e39;
}

button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color: #171a21;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #2a2e39;
}

#mensagemContainer {
    margin-top: 2rem;
}

#imagemGaleria:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
